@font-face {
    -fx-font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    -fx-font-family: "Open Sans Bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    -fx-font-family: "Open Sans Italic";
    src: url("fonts/OpenSans-Italic.ttf");
}

.root{
    -fx-font-family: "Open Sans", sans-serif;
    -fx-font-size: 12px;
}

.priority {
    -fx-font-weight: bold;
}

.completed-task {
    -fx-text-fill: gray;
    -fx-font-style: italic;
}
.completed-task .text {
    -fx-strikethrough: true;
}

.project {
    -fx-text-fill: #7434eb;
}

.context {
    -fx-text-fill: #ebae34;
}